<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;700&display=swap" rel="stylesheet">

    <link th:href="@{/styles/index.css}" rel="stylesheet">
    <link href="../static/styles/index.css" rel="stylesheet">
    <link th:href="@{/styles/general.css}" rel="stylesheet">
    <link href="../static/styles/general.css" rel="stylesheet">

    <title>Gives</title>
</head>
<body>
<header class="header">
    <img class="logo" alt="gives-logo-photo" th:src="@{/images/logoB.jpeg}" />
    <nav class="main-nav">
        <ul class="main-nav-list">
            <li><a class="main-nav-link" href="/users/people">People</a></li>
            <li><a class="main-nav-link" href="/charities/all">Charities</a></li>
            <li><a class="main-nav-link" href="/charities/register">Register</a></li>
            <li><a class="main-nav-link" href="#">Sign In</a></li>
        </ul>
    </nav>
</header>

<main>
    <section class="section-gives">
            <div align="center">
                <h1>Charities List</h1>
                <div>
                    <a href="charities/register" th:href="@{/charities/register}" rel="sign a charity up">Register A Charity</a>
                </div>
                <table border="1">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Charity</th>
                        <th>Goal</th>
                        <th>Total Received</th>
                        <th>Verified</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="Charity : ${charities}">
                        <td><img class="logo" th:src="${Charity.pictureURL}"/></td>
                        <td th:text="${Charity.title}"></td>
                        <td th:text="${Charity.goal}"></td>
                        <td th:text="${Charity.totalReceived}"></td>
                        <td th:text="${Charity.verified}"></td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <span th:if="${hasPrev}"><a th:href="@{/charities?page={prev}(prev=${prev})}">Prev</a>&nbsp;&nbsp;&nbsp;</span>
                    <span th:if="${hasNext}"><a th:href="@{/charities?page={next}(next=${next})}">Next</a></span>
                </div>
            </div>
    </section>


</main>
</body>
</html>