<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;700&display=swap" rel="stylesheet">

    <link th:href="@{/styles/index.css}" rel="stylesheet">
    <link href="../static/styles/index.css" rel="stylesheet">
    <link th:href="@{/styles/general.css}" rel="stylesheet">
    <link href="../static/styles/general.css" rel="stylesheet">

    <title>Gives</title>
</head>
<body>
<header class="header">
    <a th:href="@{/}"><img class="logo" alt="gives-logo-photo" th:src="@{/images/logoB.jpeg}"/></a>
    <ul class="main-nav-list"><li th:if="${myUser != null}" th:text="${myUser.username}"></li></ul>
    <nav class="main-nav">
        <ul class="main-nav-list">
            <li><a class="main-nav-link" href="/admin" sec:authorize="hasRole('ROLE_ADMIN')">ADMIN</a> </li>
            <li><a class="main-nav-link" href="/users/people">People</a></li>
            <li><a class="main-nav-link" href="/charities/">Charities</a></li>
            <li><a th:if="${myUser != null}" class="main-nav-link" href="/charities/add">Register</a></li>
            <li>
                <a th:if="${myUser ne null}" class="main-nav-link" href="/log_out">Log Out</a>
                <a th:if="${myUser == null}" class="main-nav-link" href="/login">Login</a>
            </li>
        </ul>
    </nav>
</header>
<h1 th:text="${add} ? 'Create a Transaction:' : 'Edit a Transaction:'"></h1>
<a th:href="@{/transactions/}">Back to Transactions List</a>
<br/><br/>
<form th:action="${add} ? @{/transactions/add} : @{/transactions/{transactionId}/edit(transactionId=${transacton.id})}"
      th:object="${transaction}" method="POST">
    <table border="0">
        <tr th:if="${transaction.id}">
            <td>ID</td>
            <td>:</td>
            <td th:utext="${transaction.id}">...</td>
        </tr>
        <tr>
            <td>Sender</td>
            <td>:</td>
            <td><input type="text" th:field="*{sender}" placeholder="email" /></td>
        </tr>
        <tr>
            <td>Receiver</td>
            <td>:</td>
            <td><input type="text" th:field="*{receiver}" placeholder="charity name" /></td>
        </tr>
        <tr>
            <td>Amount</td>
            <td>:</td>
            <td><input type="number" th:field="*{amount}" placeholder="0.00"/></td>
        </tr>
        <tr>
            <td>Comment</td>
            <td>:</td>
            <td><textarea th:field="*{comment}" rows="4" cols="50"></textarea></td>
        </tr>
    </table>
    <input type="submit" th:value="${add} ? 'Create' : 'Update'" />
</form>

<br/>
<!-- Check if errorMessage is not null and not empty -->
<div th:if="${errorMessage}" th:utext="${errorMessage}" class="error"></div>
</body>
</html>