

/************* GIVES SECTION **********/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3eafc;

    height: 9.6rem;
    padding: 0 4.8rem;
}

.logo {
    height: 6.0rem;
}
/************* HEADER **********/
.section-gives {
    background-color: #f3eafc;
    padding: 3.7rem 0 8.6rem 0;
}
.gives {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8.6rem;
    align-items: center;

}
.gives-home-img {
    width: 80%;
    height: 95%;
    max-height: 130rem;
}
.gives-description {
    font-size: 2.0rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

/************** HOW IT WORKS *************/
.section-how {
    padding: 9.6rem 0;
}

.step-image {
    width: 40%;
}
.step-img-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-number {
    font-size: 8.6rem;
    font-weight: 600;
    color: #777;
    margin-bottom: 1.2rem;
}
.step-description {
    font-size: 1.8rem;
    line-height: 1.8rem;
}

